<lib-form title="pageRequests.responsible" [form]=formResponsible [control]=controlResponsible
[viewButtons]=false></lib-form>

<lib-form title="pageRequests.bypass" [form]=formBypass [control]=controlBypass [viewButtons]=false
></lib-form>

<lib-form title="pageRequests.identification"  [form]=formIdentification
[control]=controlIdentification [viewButtons]=false></lib-form>

<lib-form title="pageRequests.noteSAPMaintenanceOrder" [form]=formnoteSAPMaintenanceOrder
[control]=controlnoteSAPMaintenanceOrder [viewButtons]=false></lib-form>

<lib-form title="pageRequests.mitigationBarriers" [form]=formmitigationBarriers [control]=controlmitigationBarriers
[viewButtons]=false></lib-form>
